.about {
    background-image: inline('../images/about/orange-mobile.png');
    background-repeat: no-repeat;
    background-position: 0  -10px ;
    background-size: cover;
    position: relative;
    /* &::before {
        content: '';
        background-image: linear-gradient(to right, #ebe6fa, #faeee6);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        position: absolute;
        z-index: -1;} */
}
.iti--separate-dial-code .iti__selected-flag {
    background-color: transparent;
}