.header {
    &__menu {
        color: $link-color;
    }
    &__link {
        transition: 0.3s;
        position: relative;
        &::before {
            content: '';
            display: block;
            width: 8px;height: 8px;
            border-radius: 100%;
            background-color: $colorful;
            position: absolute;
            bottom: -100px;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            transition: 0.3s;
           }
        &:hover {
           color: #1a1a1a;
          &:before {
            opacity: 1;
            bottom: -15px;
          }

        }

    }
}