<header class="header py-[28px] md:py-[12px] shadow-md xl:shadow-sm">
  <div class="container mx-auto flex justify-between items-center">
    <a href="#" class="logo w-[118px] h-[30px] xl:h-auto xl:w-[102px]">
      <svg class="w-full h-full xl:h-[24px] xl:w-[96px]">
        <use xlink:href="#logo"></use>
      </svg>
      <span class="logo__text hidden xl:block font-normal text-[10px] text-dark tracking-tightest mt-[8px] ">
        Онлайн ІТ-академія для дітей 7-17 років
      </span>
    </a>

    <nav class="header__navigation z-30 duration-300 fixed left-[-100%] top-0 bg-white w-3/4 h-[100vh] flex items-center justify-center xl:static xl:h-auto xl:bg-opacity-0">
      <ul class="header__menu flex flex-col items-center gap-5 font-medium font-mono text-[17px] tracking-widest xl:flex-row xl:gap-x-8">
        <li class="header__item"><a href="#" class="header__link">Курси</a></li>
        <li class="header__item">
          <a href="#" class="header__link">Мінікурси</a>
        </li>
        <li class="header__item">
          <a href="#about" class="header__link">Про нас</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__link">Результати учнів</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__link">Безоплатно</a>
        </li>
        <li class="header__item"><a href="#" class="header__link">Блог</a></li>
        <li class="header__item">
          <a href="#" class="header__link">Контакти</a>
        </li>
      </ul>
    </nav>
    <a href="tel:+380735654596"
      class="header__contact font-mono font-bold text-xl hidden md:block text-purple tracking-tightest">
      +38 073 565 45 96
    </a>

    <button class="header__hamburger w-11 h-11 xl:hidden">
      <svg class="w-full h-full">
        <use xlink:href="#hamburger"></use>
      </svg>
    </button>
  </div>
</header>
