<section class="intro  pt-[39px] pb-[64px] relative hero-clip md:pt-10 md:pb-[64px] xl:pb-20">
  <div class="container">
    <div class=" mx-auto">
      <h1 class="text-center mx-auto max-w-[231px] text-[24px] font-medium font-mono  md:text-[40px] xl:mx-auto xl:mb-3 xl:max-w-none xl:text-[48px]">
        Курси вебдизайну для підлітків
      </h1>
      <h2 class="intro__title text-center font-mono text-[43px] font-bold 
       md:text-[112px] xl:text-[146px]">
        WEB DESIGN
      </h2>
    </div>
  </div>
</section>
