.intro {
  /* height: 530px; */
  background-image: inline('../images/intro/boy-mobile1x.png');
  background-size: 440px auto;
  /* background-position: top center; */
  background-repeat: no-repeat;
  position: relative;
  background-position: top -180px left calc(50% + 19px);
  &::before {
    content: '';
    background-image: linear-gradient(to right, #ebe6fa, #faeee6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    position: absolute;
    z-index: -1;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: inline('../images/intro/boy-mobile2x.png');
  }
  @media (min-width: 768px) {
    background-image: inline('../images/intro/boy-desk1x.png');
    background-size: 1200px auto;
    background-position: top -125px left calc(50% + -45px);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: inline('../images/intro/boy-desk2x.png');
    }

  }
  @media (min-width: 1180px) {
    background-position: top -160px left calc(50% - 45px);
  }
  &__title {
    background: linear-gradient(90deg, #eba371 0%, #6721a4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
