{% extends './_layouts/base.njk' %}

{% block title %}
  Web-Design
{% endblock %}

{% block content %}
  {% include './components/header/header.njk' %}
  {% include './components/intro/intro.njk' %}
  {% include './components/about/about.njk' %}
  {% include './components/course/course.njk' %}
  {% include './components/choiseCourse/choiseCourse.njk' %}
  {% include './components/footer/footer.njk' %}


{% endblock %}
